{% extends 'base.html'%} {% block title %}
<title>PR3 - Cities</title>
{% endblock %} {% block content %} {% load function_use %}
<div class="container-md">
  <div class="card mt-3">
    <div class="card-body p-10">
      <table class="table table-bordered table-striped">
        <p class="text-center fs-2 fw-bold">Cities List</p>
        <thead class="table-dark">
          <tr>
            <th>No.</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          {% for city in cities %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'pr3A:result' city.slug %}" class="link-dark">{{ city.city_name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
